@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;700&display=swap');

body {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  margin: 0;
}

picture img {
  display: block;
}

img {
  width: 100%;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: unset;
  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #C1BEBE;
  margin: unset;
  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1rem;
  color: #C3BBBB;
  font-weight: normal;
  margin: unset;
  @media (min-width: 768px) {
    font-size: 1.1rem;
  }
}

h4 {
  font-size: 0.9rem;
  color: #C3BBBB;
  margin: unset;
  font-weight: normal;
  @media (min-width: 768px) {
    font-size: 1rem;
  }
}

p {
  font-size: 1.25rem;
  margin-block: 0.5rem;
  @media (min-width: 768px) {
    font-size: 1.5rem;
    margin-block: 0.75rem;
  }
}

ul {
  font-size: 1.25rem;
  margin: unset;
  padding-block: 0.5rem;
  padding-left: 1.25rem;
  @media (min-width: 768px) {
    font-size: 1.5rem;
    padding: 1.5rem;
  }
}

ol {
  font-size: 1.25rem;
  margin: unset;
  padding-block: 0.5rem;
  padding-left: 1.25rem;
  @media (min-width: 768px) {
    font-size: 1.5rem;
    padding: 1.5rem;
  }
}

li {
  font-size: 1.25rem;
  margin: unset;
  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}

a {
  color: black;

  &:visited {
    color: black;
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    text-decoration: none;
  }
}

